:root {
  --primary-color: #7487b1;
  --background-color: #f5f1fa;
  --card-color: #9aa9cf;
  --shadow-color: #5c7ac1;
  --text-color: #2a2a2a;
  --accent-color: #3d52a0;
  --border-color: #adbbda;
}

.reviews {
  padding: 120px 20px;
  background-color: var(--background-color);
  min-height: 100vh;
}
.reviews-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: var(--card-color);
  border-radius: 12px;
  box-shadow: 0 6px 15px var(--shadow-color);
  font-family: "Esteban", serif;
}

.review-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.review-form input,
.review-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 0.8rem;
  background-color: var(--background-color);
}

.review-form button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.review-form button:hover {
  background-color: var(--accent-color);
}

.reviews-list h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.review-item {
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.review-item h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.review-item p {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.review-item small {
  font-size: 0.8rem;
  color: #888;
}

/* Responsive styles */
@media (max-width: 768px) {
  .reviews-container {
    margin-top: 25px;
    max-width: 90%;
  }
}
