/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
}

/* Add padding to ensure content is not hidden behind the fixed navbar */
.App {
  padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

/* Responsive global styles */
@media (max-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}
